<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bennington.Content.Sql.Properties.Settings.BenningtonConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Bennington;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>