@using Bennington.Cms.ReportManagement.Models
@model ReportListViewModel

@{
    var reportAdministratorContext = MvcTurbine.ComponentModel.ServiceLocatorManager.Current.Resolve<Bennington.Cms.ReportManagement.IReportAdministratorContext>();
}

@if (reportAdministratorContext.IsThisUserASuperUser())
{
    <a href="@Url.Action("Manage", new { Id = @Model.Id })">@Model.Name</a>
} else {
    @Model.Name
}