@using Bennington.Cms.ReportManagement.Models
@using Bennington.Cms.ReportManagement.Controllers
@model ReportListViewModel

@if (!string.IsNullOrWhiteSpace(Model.UrlToStreamCsv))
{
    <a href="@Html.Raw(Model.UrlToStreamCsv)">View</a>
}
else
{
    <a onclick="window.location='@Url.Action("Stream", typeof(ReportManagementController).Name.Replace("Controller", string.Empty), new { id = Model.Id })' + '&StartDate=' + $('StartDate' + '_' +'@Model.Id').val() + '&EndDate=' + $('EndDate' + '_' + '@Model.Id').val();return(false);" href="#">View</a>
}