@using Bennington.ContentTree.Providers.ContentNodeProvider.Models
@using System.Web.Mvc
@using System.Security.Policy

<title>@Model.MetaTitle</title>
<meta name="keywords" content="@Model.MetaKeywords" />
<meta name="description" content="@Model.MetaDescription" />