@using Bennington.ContentTree.Providers.ContentNodeProvider.Models
@using System.Web.Mvc
@using System.Security.Policy

<h1>@Model.Header</h1>

@if (!string.IsNullOrEmpty(Model.HeaderImage))
{
    <img src="@Model.HeaderImage" alt="@Model.Header" />
}
<div>@Html.Raw(Model.Body)</div>


